:root{
    --color_1: #559E54;
    --color_2: #9A0794;
}


body{
    background-color: var(--color_1);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: var(--color_2);
    font-size: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
    gap: 1rem;
}

div{
    display: flex;
    flex-direction:column ;
}

div > input{
    margin-top: 5px;
    padding: 0.3rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-top: 1px solid var(--color_2);
}

button{
    margin-top: 1rem;
    width: 50%;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--color_2);
    margin: auto;
}

button:hover{
    background-color: var(--color_2);
    color: var(--color_1);
}